<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jack.dao.PasswordDao">

    <insert id="passwordInsert">
        insert into t_password (id,user_name,password) values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
            #{item.userName},
            #{item.password})
        </foreach>
        ON DUPLICATE KEY UPDATE
        user_name=values (user_name),
        password=values (password)
    </insert>

</mapper>