<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jack.dao.OrderDao">

    <select id="getOrder" resultType="Order" parameterType="int">
        select * from user where ID=#{id}
    </select>

    <select id="getAllOrder" resultType="Order">
    	select * from user
    </select>

    <insert id="addOrder" parameterType="Order">
    	insert into user(ORDER_CODE, ADDRESS,SYNC) values(#{orderCode}, #{address},#{sync})
    </insert>

</mapper>